# Server configuration
NODE_ID=node1
GRPC_PORT=50051
RAFT_PORT=60051
BOOTSTRAP=true

# CLI configuration
SERVER_ADDR=localhost:50051
CMD=get
KEY=mykey
VAL=myvalue
JOIN_NODE_ID=node2
JOIN_RAFT_ADDR=127.0.0.1:60052
